tr.selected {
  background-color: #fa7016;
  font-weight: bold;
}

/* CSS used here will be applied after bootstrap.css */
.modal-80p {
  width:80%; /* 80% of page to provide space for labels */
}

.modal-custom-width {
  width: 80%;
}

/* Estilo para tornar a tabela scrollable */
.scrollable-table {
  max-height: 300px;
  overflow-y: auto;
}
