.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 colunas */
  grid-gap: 20px; /* Espaçamento entre os elementos */
}

.chart-container {
  width: 100%; /* Defina a largura do gráfico */
  height: 300px; /* Defina a altura do gráfico */
  box-shadow: #000000;
}

.shadow-lg{box-shadow:0 1rem 3rem rgba(0,0,0,.175)!important}

.table-container {
  grid-column: span 3; /* Este elemento ocupa 3 colunas */
}
/* Defina as classes de cores personalizadas com transparência */
.bg-primary-custom {
  background-color: rgba(52, 152, 219, 0.7); /* Cor primária com 70% de opacidade */
  color: #ffffff; /* Cor do texto */
  border: none;
}

.bg-success-custom {
  background-color: rgba(46, 204, 113, 0.7); /* Cor de sucesso com 70% de opacidade */
  color: #ffffff;
  border: none;
}

.bg-warning-custom {
  background-color: rgba(243, 156, 18, 0.7); /* Cor de aviso com 70% de opacidade */
  color: #ffffff;
  border: none;
}

.bg-danger-custom {
  background-color: rgba(231, 76, 60, 0.7); /* Cor de perigo com 70% de opacidade */
  color: #ffffff;
  border: none;
}
.btn-filter {
  margin-right: 10px; /* Ajuste o valor conforme necessário */
}


