<div id="layoutSidenav_nav">
  <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
      <div class="nav">
        <div class="sb-sidenav-menu-heading">Sistema</div>
        <a class="nav-link" routerLink="/home"
        ><div class="sb-nav-link-icon"><i class="fas fa-home"></i></div>
          Home</a
        >

        <a class="nav-link" routerLink="/dashboard"
        ><div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
          Dashboard</a
        >
        <div class="sb-sidenav-menu-heading"
             (click)="toggleInterfaceMenu()"
             style="color: white"
             onmouseover="this.style.boxShadow='0 0 10px rgba(0,0,0,0.5)'; this.style.backgroundColor='rgba(0,0,0,0.2)'"
             onmouseout="this.style.boxShadow=''; this.style.backgroundColor=''">
          <i class="fas fa-list"></i> <div class="sb-sidenav-menu-heading">Interface</div>
        </div>
        <div *ngIf="isInterfaceMenuOpen">
          <a class="nav-link collapsed" *ngIf="modulosAtivos['Varejo'] === 'true'" routerLink="/sales" data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
            <div class="sb-nav-link-icon"><i class="fas fa-coins"></i></div>
            Vendas
          </a>
          <a class="nav-link collapsed" *ngIf="modulosAtivos['Servicos'] === 'true'" routerLink="/services" data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
            <div class="sb-nav-link-icon"><i class="fas fa-hands"></i></div>
            Serviços
          </a>
          <a class="nav-link collapsed" *ngIf="modulosAtivos['Mesas'] === 'true'" routerLink="/tables" data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
            <div class="sb-nav-link-icon"><i class="fas fa-utensils"></i></div>
            Mesas
          </a>
        </div>

        <div class="sb-sidenav-menu-heading"
             (click)="toggleCadastroMenu()"
             style="color: white"
             onmouseover="this.style.boxShadow='0 0 10px rgba(0,0,0,0.5)'; this.style.backgroundColor='rgba(0,0,0,0.2)'"
             onmouseout="this.style.boxShadow=''; this.style.backgroundColor=''">
          <i class="fas fa-list"></i> <div class="sb-sidenav-menu-heading">Cadastro</div>
        </div>

        <div *ngIf="isCadastroMenuOpen">
          <a class="nav-link collapsed" routerLink="/employes" data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts" *ngIf="isLevel >= 15"
          ><div class="sb-nav-link-icon"><i class="fas fa-user-plus"></i></div>
            Funcionário
          </a>

          <a class="nav-link collapsed" routerLink="/products" data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts" *ngIf="isLevel >= 10"
          ><div class="sb-nav-link-icon"><i class="fa fa-archive"></i></div>
            Produtos
          </a>

          <a class="nav-link collapsed" routerLink="/clients" data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts" *ngIf="isLevel >= 5"
          ><div class="sb-nav-link-icon"><i class="fa fa-address-book"></i></div>
            Clientes
          </a>

          <a class="nav-link collapsed" routerLink="/suppliers" data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts" *ngIf="isLevel >= 15"
          ><div class="sb-nav-link-icon"><i class="fa fa-parachute-box"></i></div>
            Fornecedores
          </a>
        </div>
        <div class="sb-sidenav-menu-heading"
             (click)="toggleContabilidadeMenu()"
             style="color: white"
             onmouseover="this.style.boxShadow='0 0 10px rgba(0,0,0,0.5)'; this.style.backgroundColor='rgba(0,0,0,0.2)'"
             onmouseout="this.style.boxShadow=''; this.style.backgroundColor=''" *ngIf="isLevel >= 15">
          <i class="fas fa-list"></i> <div class="sb-sidenav-menu-heading">Contabilidade</div>
        </div>
        <div *ngIf="isContabilidadeMenuOpen">
          <a class="nav-link collapsed" routerLink="/contabil" data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts" *ngIf="isLevel >= 15"
          ><div class="sb-nav-link-icon"><i class="fas fa-receipt"></i></div>
            Contabil
          </a>

          <a class="nav-link collapsed" routerLink="/notas-entrada" data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts" *ngIf="isLevel >= 10"
          ><div class="sb-nav-link-icon"><i class="fa fa-file-invoice-dollar"></i></div>
            NF Entrada
          </a>

          <a class="nav-link collapsed" routerLink="/notas-saida" data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts" *ngIf="isLevel >= 10"
          ><div class="sb-nav-link-icon"><i class="fas fa-file-invoice"></i></div>
            NF Saida
          </a>
        </div>
      </div>
    </div>

    <div class="sb-sidenav-configs">
      <a class="nav-link collapsed" routerLink="/configs" data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts" *ngIf="isLevel >= 15"
      ><div class="sb-nav-link-icon"><i class="fab fa-cuttlefish"></i>onfigurações</div>
      </a>
    </div>

    <div class="sb-sidenav-footer">
      <a [routerLink]="['/employes/edicao_user']">
        <img class="rounded-circle shadow-4-strong" alt="avatar" width="50" height="50" src="https://mdbcdn.b-cdn.net/img/new/avatars/1.webp" />
        <span class="avatar-name">{{ userName }}</span>
      </a>
    </div>

    <div class="sb-sidenav-menu-heading"
         (click)="logout()"
         style="color: white; cursor: pointer"
         routerLink="/"
         onmouseover="this.style.boxShadow='0 0 10px rgba(0,0,0,0.5)'; this.style.backgroundColor='rgba(0,0,0,0.2)'"
         onmouseout="this.style.boxShadow=''; this.style.backgroundColor=''">
      <i class="fas fa-door-open"></i> Logout
    </div>

    <!--    <a class="nav-link collapsed" routerLink="/" data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts"-->
    <!--    ><div class="sb-nav-link-icon" (click)="logout()">-->
    <!--      Logout</div>-->
    <!--    </a>-->
  </nav>
</div>

