<div class="container">
  <h3 class="text-center font-weight-light my-4">
    <img alt="OnDash" ngSrc="../../assets/on_logo.png" width="158" height="188">
  </h3>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h1 class="mt-4 text-center">Informações do Produto</h1>
          <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active text-center"></li>
          </ol>

          <div class="table-responsive">
            <table class="table table-condensed table-hover">
              <tbody>
              <tr>
                <th>Código:</th>
                <td id="codigo">{{ produto?.codigo }}</td>
              </tr>
              <tr>
                <th>Nome:</th>
                <td id="nome">{{ produto?.nome }}</td>
              </tr>
              <tr>
                <th>Disponivel:</th>
                <td id="quantidade">{{ produto?.quantidade }} Unid(s).</td>
              </tr>
              <tr>
                <th>Preço:</th>
                <td id="preco">R$ {{ produto?.preco_venda }}</td>
              </tr>
              <tr>
                <th>Descrição:</th>
                <td id="descricao">{{ produto?.descricao }}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
