td.editing {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
  }

.custom-modal .modal-dialog {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-modal .modal-backdrop {
  display: none; /* Esconde o backdrop escuro */
  max-width: 1200px; /* Ajuste o valor para o tamanho desejado */
  width: 150%;
}


/* Estilos CSS para o cupom fiscal */
.text-center {
  text-align: center;
}
.ttu {
  text-transform: uppercase;
}
.ttn{
  text-transform: initial;
}
.printer-ticket {
  display: table !important;
  margin: 0 auto; /* Adiciona margem automática para centralizar horizontalmente */
  width: 100%;
  max-width: 400px; /* Altere o valor do max-width para ajustar o tamanho do cupom */
  font-weight: lighter;
  line-height: 1.3em;
  /*background-color: #fbfdd1; !* Adicione o background amarelo aqui *!*/
}
.printer-ticket,
.printer-ticket * {
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 10px;
}
.printer-ticket th:nth-child(1),
.printer-ticket td:nth-child(1) {
  width: 120px;
}
.printer-ticket th:nth-child(2),
.printer-ticket td:nth-child(2) {
  width: 50px;
  text-align: center; /* Altera o alinhamento para centralizar a coluna "Qtd" */
}
.printer-ticket th:nth-child(3),
.printer-ticket td:nth-child(3) {
  width: 90px;
  text-align: right; /* Altera o alinhamento para a direita na coluna "Total-1" */
}
.printer-ticket th {
  padding: 10px 0;
  text-align: center;
  border-bottom: 1px dashed #bcbcbc;
}
.printer-ticket tbody tr:last-child td {
  padding-bottom: 10px;
}
.printer-ticket tfoot .sup td {
  padding: 10px 0;
  border-top: 1px dashed #bcbcbc;
}
.printer-ticket tfoot .sup.p--0 td {
  padding-bottom: 0;
}
.printer-ticket .title {
  font-size: 1.5em;
  padding: 15px 0;
  font-style: inherit;
}
.printer-ticket .top td {
  padding-top: 10px;
}
.printer-ticket .last td {
  padding-bottom: 10px;
}

/* Adicione a classe para mover a coluna "Total" para a direita */
.printer-ticket td.total {
  text-align: right;
}

/* Estilos CSS para o cupom fiscal gerado em PDF */
.printer-ticket {
  width: 100%;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 10px;
  text-align: center;
}

.printer-ticket th {
  font-weight: inherit;
  padding: 5px 0;
  border-bottom: 1px dashed #bcbcbc;
}

.printer-ticket td {
  padding: 5px 0;
}

/* Centraliza a coluna "Qtd" */
.printer-ticket td:nth-child(2) {
  text-align: center;
}

/* Centraliza a coluna "Total" */
.printer-ticket td.total {
  text-align: right;
}

.printer-ticket tfoot .sup td {
  padding: 5px 0;
  border-top: 1px dashed #bcbcbc;
}

.printer-ticket .title {
  font-size: 1.5em;
  padding: 10px 0;
  font-style: inherit;
}

.printer-ticket .top td {
  padding: 5px 0;
}

.printer-ticket .sup p {
  margin: 0;
  font-style: italic;
}

.printer-ticket .last td {
  padding-bottom: 10px;
}








