<!-- Modal para o cadastro rápido -->
<div class="modal" tabindex="-1" role="dialog" [ngClass]="{'d-block': modalAberto}" (keydown.esc)="fecharModal()">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Cadastro Rápido</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar" (click)="fecharModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="nome">Nome:</label>
          <input type="text" class="form-control" id="nome" [(ngModel)]="nome">
        </div>
        <div class="form-group">
          <label for="cpfCnpj">CPF/CNPJ:</label>
          <input
            type="text"
            class="form-control"
            id="cpfCnpj"
            [(ngModel)]="cpfCnpj"
            (input)="onCpfCnpjInput()"
            maxlength="14"/>
          <div *ngIf="cpfCnpjError" class="text-danger">CPF/CNPJ inválido. Por favor, verifique.</div>
        </div>

        <div class="form-group">
          <label for="telefone">Telefone:</label>
          <input type="text" class="form-control" id="telefone" [(ngModel)]="telefone" (input)="telefone = formatarTelefone(telefone)">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="fecharModal()">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="cadastrar()">Cadastrar</button>
      </div>
    </div>
  </div>
</div>
<!-- Fim do Modal -->

<h1 class="mt-4">FlexDuck</h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item active">Vendas</li>
</ol>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <div class="card bg-light pb-4" style="border-radius: 25px;">
        <div class="card-body">

          <div class="row">
            <div class="col-md-2">
              <div class="form-group">
                <label for="inputVendedorID">ID:</label>
                <div class="input-group">
                  <input type="text" class="form-control" id="inputVendedorID" [(ngModel)]="selectedId" (dblclick)="openVendorModal()">
                  <div class="input-group-append">
                    <span class="input-group-text" (click)="openVendorModal()"><i class="fas fa-search"></i></span>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-10">
              <div class="form-group">
                <label for="inputVendedor">Vendedor:</label>
                <div class="input-group">
                  <input type="text" class="form-control" id="inputVendedor" [(ngModel)]="selectedVendedor" (dblclick)="openVendorModal()">
                  <div class="input-group-append">
                    <span class="input-group-text" (click)="openVendorModal()"><i class="fas fa-search"></i></span>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="row">

            <div class="col-md-6">
              <div class="form-group">
                <label for="inputCliente">Cliente:</label>
                <div class="input-group">
                  <input type="text" class="form-control" id="inputCliente" [(ngModel)]="selectedClienteName" (dblclick)="openSearchClientModal()">
                  <input type="hidden" id="inputClienteID" [(ngModel)]="SelectedClienteId">
                  <div class="input-group-append">
                    <span class="input-group-text" (click)="openSearchClientModal()"><i class="fas fa-search"></i></span>
                    <span class="input-group-text" style="cursor: pointer" (click)="abrirModal()"><i class="fas fa-plus"></i></span>
                  </div>
                </div>
              </div>
            </div>


          <div class="col-md-3">
              <div class="form-group">
                <label for="inputCpf">CPF:</label>
                <div class="input-group">
                  <input type="text" class="form-control" id="inputCpf" [(ngModel)]="selectedClienteCPF_CNPJ" (dblclick)="openSearchClientModal()">
                  <div class="input-group-append">
                    <span class="input-group-text" (click)="openSearchClientModal()"><i class="fas fa-search"></i></span>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <label for="inputTelefone">Telefone:</label>
                <div class="input-group">
                  <input type="text" class="form-control" id="inputTelefone" [(ngModel)]="selectedClienteTelephone" (dblclick)="openSearchClientModal()">
                  <div class="input-group-append">
                    <span class="input-group-text" (click)="openSearchClientModal()"><i class="fas fa-search"></i></span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <hr>

          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label for="codigoProduto">Código:</label>
                <div class="input-group">
                  <input type="text" class="form-control" id="codigoProduto" (keydown.enter)="onCodigoProdutoEnter($event)">
                  <div class="input-group-append">
                    <span class="input-group-text"><i class="fas fa-search"></i></span>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="inputProduto">Produto:</label>
                <div class="input-group">
                  <input type="text" class="form-control" id="inputProduto" (dblclick)="openProdutoModal()">
                  <div class="input-group-append">
                    <span class="input-group-text" (click)="openProdutoModal()"><i class="fas fa-search"></i></span>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <label for="inputQuantidade">Quantidade:</label>
                <input type="number" min="1" class="form-control" id="inputQuantidade">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <button class="btn btn-primary mr-2" id="btnAdicionar" (click)="adicionarProduto()">Adicionar</button>
              <button class="btn btn-danger" (click)="confirmarLimparLista()">Limpar Lista</button>
            </div>
          </div>


          <div class="row mt-4">
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <table class="table">
                    <thead>
                    <tr>
                      <th class="text-center">CÓDIGO</th>
                      <th class="text-center">NOME</th>
                      <th class="text-center">PREÇO</th>
                      <th class="text-center">DESCONTO</th>
                      <th class="text-center">QUANTIDADE</th>
                      <th class="text-center">TOTAL</th>
                    </tr>
                    </thead>
                    <tbody id="listaProdutos">
                    <tr *ngFor="let produto of listaProdutos">
                      <td class="text-center">{{ produto.codigo }}</td>
                      <td class="text-center">{{ produto.nome }}</td>
                      <td class="text-center">R$ {{ produto.preco.toFixed(2) }}</td>
                      <td class="text-center">R$ {{ produto.desconto.toFixed(2) }}</td>
                      <td class="text-center">
                        <button class="btn btn-sm btn-danger" (click)="removerProduto(produto.codigo)">-</button>
                        {{ produto.quantidade }}
                        <button class="btn btn-sm btn-success" (click)="adicionarQuantidade(produto.codigo)">+</button>
                      </td>
                      <td class="text-center">R$ {{ produto.total.toFixed(2) }}</td>
                    </tr>
                    </tbody>

                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card bg-light pb-4" style="border-radius: 25px;">
        <div class="card-body">

          <div class="form-row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="subtotal">Subtotal:</label>
                <input type="text" class="form-control" id="subtotal" readonly>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="descontoValor">Desconto R$:</label>
                <div class="input-group">
                  <input type="text" class="form-control" id="descontoValor" [(ngModel)]="descontoValor" (keyup)="atualizarDescontoValor()" readonly>
                  <div class="input-group-append">
                    <span class="input-group-text" (click)="abrirModalSenha_valor()"><i class="fas fa-key"></i></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="descontoPercent">Desconto %:</label>
                <div class="input-group">
                  <input type="text" class="form-control" id="descontoPercent" [(ngModel)]="descontoPercent" (input)="atualizarDescontoPercent()" readonly>
                  <div class="input-group-append">
                    <span class="input-group-text" (click)="abrirModalSenha_percent()"><i class="fas fa-key"></i></span>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="form-row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="total">Total:</label>
                <input type="text" class="form-control" id="total" readonly>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="formaPagamento">Forma de Pagamento:</label>
                <select class="form-control" id="formaPagamento" (change)="onFormaPagamentoDinheiro()">
                  <option value="">Selecione a forma de pagamento:</option>
                  <option *ngFor="let paytype of paytypes" [value]="paytype.id">{{ paytype.nome }}</option>
                </select>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="bandeira">Bandeira:</label>
                <select class="form-control" id="bandeira" [(ngModel)]="bandeira" [disabled]="bandeiraReadonly" (change)="onFormaPagamentoDinheiro()">
                  <option value="select">Selecione a bandeira:</option>
                  <option *ngFor="let bandtype of bandtypes" [value]="bandtype.id">{{ bandtype.nome }}</option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="parcelamento">Parcelamento:</label>
                <input type="number" class="form-control" id="parcelamento" min="1" max="12" value="1" [(ngModel)]="parcelamento" [disabled]="parcelamentoReadonly">
              </div>
            </div>
          </div>

          <div class="form-row" *ngIf="bandeira === '6'">
            <div class="col-md-6">
              <div class="form-group">
                <label for="valorPago">Valor Pago:</label>
                <input type="number" class="form-control" id="valorPago" [(ngModel)]="valorPago" (change)="checkValorPago()">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="troco">Troco:</label>
                <input type="number" class="form-control" id="troco" [value]="calcularTroco().toFixed(2)" [readonly]="true">
              </div>
            </div>
          </div>


          <div class="form-row">
            <div class="col-md-12">
              <button class="btn btn-success btn-block" id="btnFinalizar" [disabled]="loading_UpVenda" (click)="validarCamposVenda(); buscarUltimoNumeroCF()">
                <span *ngIf="loading_UpVenda" class="spinner-border spinner-border-sm mr-1"></span>
                Finalizar Venda
              </button>
            </div>
          </div>

          <div class="form-row mt-2">
            <div class="col-md-12">
              <button class="btn btn-outline-danger btn-block" id="btnCencelar" (click)="Cancelar()">Cancelar</button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal para a nota fiscal -->
<div class="modal" tabindex="-1" role="dialog" [ngClass]="{'d-block': cupomFiscalModalAberto}" (keydown.esc)="fecharCupomFiscalModal()">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Cupom Fiscal</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar" (click)="fecharCupomFiscalModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table id="cupom-fiscal" class="printer-ticket" bgcolor="#fbfdd1">
          <thead>
          <tr>
            <th class="title" colspan="3">--- {{ companyInfo?.nome_fantasia }} ---</th>
          </tr>
          <tr>
            <th colspan="3">CNPJ: {{ companyInfo?.cnpj }}<br />
            Tel: {{ companyInfo?.telephone }}</th>
          </tr>
          <tr>
            <th colspan="3">{{ CfiscalDataHora }}<br />
              Vendedor(a): {{ vendorName }}</th>
          </tr>
          <tr>
            <th colspan="3">
              {{ ClienteName }} <br />
              {{ ClienteCPF_CNPJ }}
            </th>
          </tr>
          <tr>
            <th class="ttu" colspan="3">
              <b>Cupom Fiscal - {{ proximoNumeroCF }}</b>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr class="sup">
            <td colspan="3" align="center">
              <b>PEDIDO:</b>
            </td>
          </tr>
          <!-- Loop through the products and display them in separate rows -->
          <tr class="top">
            <td colspan="1" style="text-align: left;">Nome:</td>
            <td colspan="1" style="text-align: center;">Qtd:</td>
            <td colspan="1" class="total" style="text-align: right;">Total:</td>
          </tr>
          <ng-container *ngFor="let produto of listaProdutos">
            <tr class="top">
              <td colspan="3" style="text-align: left;">{{ produto.nome }}</td>
            </tr>
            <tr>
              <td style="text-align: left;">R$ {{ produto.preco.toFixed(2) }}</td>
              <td style="text-align: center;">{{ produto.quantidade.toFixed(0) }}</td>
              <td class="total">R$ {{ produto.total.toFixed(2) }}</td>
            </tr>
          </ng-container>
          </tbody>
          <tfoot>
          <tr class="sup">
            <td colspan="3" align="center">
              <b>TOTAIS:</b>
            </td>
          </tr>
          <tr class="ttn">
            <td colspan="2" style="text-align: left;">Sub-total</td>
            <td class="total" align="right">R$ {{ SubTotal.toFixed(2) }}</td>
          </tr>
          <tr class="ttn">
            <td colspan="2" style="text-align: left;">Desconto</td>
            <td class="total" align="right">{{ DescontoPercent.toFixed(2) }}%</td>
          </tr>
          <tr class="ttn">
            <td colspan="2" style="text-align: left;">Total</td>
            <td class="total" align="right">R$ {{ Total.toFixed(2) }}</td>
          </tr>
          <tr class="sup">
            <td colspan="3" align="center">
              <b>PAGAMENTOS:</b>
            </td>
          </tr>
          <tr class="ttn">
            <td colspan="2" style="text-align: left;">Parcelamento</td>
            <td class="total" align="right">{{ bandeira }} {{ parcelamento }}x</td>
          </tr>
          <tr class="ttn">
            <td colspan="2" style="text-align: left;">Valor Pago</td>
            <td class="total" align="right">R$ {{ valorPago.toFixed(2) }}</td>
          </tr>
          <tr class="ttn">
            <td colspan="2" style="text-align: left;">Troco</td>
            <td class="total" align="right">R$ {{ troco.toFixed(2) }}</td>
          </tr>
          <tr class="ttu">
            <td colspan="2" style="text-align: left;">Total pago</td>
            <td class="total" align="right">R$({{ valorParcela.toFixed(2) }} x{{ parcelamento }}) {{ Total.toFixed(2) }}</td>
          </tr>
          <tr class="sup">
            <td colspan="3" align="center" style="font-style: italic;">
              *Esse ticket não é documento fiscal*
            </td>
          </tr>
          </tfoot>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="imprimirCupom(); fecharCupomFiscalModal(); Cancelar()">Imprimir</button>
        <button type="button" class="btn btn-primary" (click)="gerarPdf(); fecharCupomFiscalModal(); Cancelar()" >Gerar PDF</button>
        <button type="button" class="btn btn-secondary" (click)="fecharCupomFiscalModal(); Cancelar()">Fechar</button>
      </div>
    </div>
  </div>
</div>
    <!-- Fim do Modal -->

<!-- Modal de senha Valor -->
<div class="modal" tabindex="-1" role="dialog" [ngClass]="{'d-block': modalSenhaVisivel_val}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Digite sua senha:</h5>
        <button type="button" class="close" aria-label="Close" (click)="fecharModalSenha()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="password" class="form-control" [(ngModel)]="senha">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="fecharModalSenha()">Cancelar</button>
        <button type="button" class="btn btn-primary" [disabled]="loading" (click)="verificarSenha_valor()">
          <span *ngIf="loading_senhavalor" class="spinner-border spinner-border-sm mr-1"></span>
          Confirmar
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal de senha Percent -->
<div class="modal" tabindex="-1" role="dialog" [ngClass]="{'d-block': modalSenhaVisivel_perc}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Digite sua senha:</h5>
        <button type="button" class="close" aria-label="Close" (click)="fecharModalSenha()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="password" class="form-control" [(ngModel)]="senha">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="fecharModalSenha()">Cancelar</button>
        <button type="button" class="btn btn-primary" [disabled]="loading" (click)="verificarSenha_percent()">
          <span *ngIf="loading_senhapercent" class="spinner-border spinner-border-sm mr-1"></span>
          Confirmar
        </button>
      </div>
    </div>
  </div>
</div>
