/*body {*/
/*  width: 100%;*/
/*  height: 100vh;*/
/*  margin: 0;*/
/*  padding: 0;*/
/*}*/


@media (max-width: 1079px) {
  body {
    transform: scale(0.8) !important;
    transform-origin: top !important;
    width: 125% !important;
    margin: 0 !important;
    padding: 0 !important;
  }
}



