.shadowed-row {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ajuste a sombra de acordo com suas preferências */
}

.copy-confirmation {
  position: fixed;
  top: 17%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.copy-confirmation.show {
  opacity: 1;
}

.qtd-shortcut-confirmation {
  position: fixed;
  top: 17%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.qtd-shortcut-confirmation.show {
  opacity: 1;
}

.input-container {
  display: flex;
  align-items: center;
}

.input-container input {
  width: 30px;
  text-align: center;
}

.input-pequeno {
  width: 68px;
  text-align: -webkit-center;
}

.size-item {
  margin-right: 5px;
}

.size {
  font-weight: bold;
  margin-right: 5px;
}

/* [ YEK/SASS - VERSION : 3.1.0 ] */
@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lalezar&display=swap");
@import url("https://cdn.jsdelivr.net/npm/yekan-font@1.0.0/css/yekan-font.min.css");
.visible-hidden {
  visibility: hidden;
}

/* YEK/SASS (https://npmjs.com/yek/sass) */
/* __[ FONT'S ]__ */
/* __[ VARIABLE ]__ */
/* __[ :ROOT ]__ */
:root {
  --color-primary: #1a2556;
  --color-secondary: #a5b3d4;
  --color-gray: #dde6f3;
  --color-light-gray: #f3f6fb;
  --color-white: white;
  --color-black: #3e3743;
  --color-input-hover: rgba(165, 179, 212, 0.6);
  --color-input-focus: rgba(26, 37, 86, 0.45);
  --color-input-error: rgba(255, 94, 31, 0.6);
  --color-input-warning: rgba(166, 145, 54, 0.6);
  --color-input-success: rgba(23, 125, 23, 0.45);
  --color-input-disabled: #dde6f3;
  --font-family: Roboto, Montserrat, sans-serif;
  --font-persian: Yekan, Lalezar, cursive;
  --font-proxima: proxima-soft, Proxima Soft, Proxima Nova Soft, Helvetica, Arial, sans-serif;
}

/* __[ STYLE ]__ */
*,
*::before,
*::after {
  box-sizing: border-box;
  transition: 0.2s ease all;
}

body,
html {
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
}

body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100vw;
  min-height: 100vh;
  font-family: var(--font-family);
}

body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  background: var(--color-light-gray);
}

.pagination {
  width: 400px;
  height: 60px;
  border-radius: 9px;
  overflow: hidden;
}
.pagination, .pagination__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.pagination__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: auto;
  height: 35px;
  border-radius: 9px;
  margin: 0 5px; /* Reduza o espaçamento entre os elementos */
  overflow: hidden;
}
.pagination__item {
  width: auto;
  height: 35px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  font-size: 0.8rem;
  margin: 0 2px; /* Reduza o espaçamento entre os elementos */
}
.pagination__item > button, .pagination__button {
  border: none;
  outline: none;
  stroke: none;
  box-shadow: none;
  cursor: pointer;
  border-radius: 9px;
  background: var(--color-gray);
}
.pagination__item > button:hover, .pagination__button:hover {
  background: var(--color-secondary);
  color: var(--color-primary);
}
.pagination__item > button {
  width: 30px;
  height: 30px;
  font-size: 0.8rem;
  padding: 0; /* Remova o preenchimento para reduzir o espaço em branco dentro dos botões */
}
.pagination__item > button[data-level=target] {
  background: var(--color-primary);
  color: var(--color-light-gray);
}
.pagination--move-prev {
  -webkit-animation: pagination-move-prev 0.5s ease both;
  animation: pagination-move-prev 0.5s ease both;
}
.pagination--move-next {
  -webkit-animation: pagination-move-next 0.5s ease both;
  animation: pagination-move-next 0.5s ease both;
}
.pagination--move-top {
  -webkit-animation: pagination-move-top 0.5s ease both;
  animation: pagination-move-top 0.5s ease both;
}
.pagination__button {
  width: 30px;
  height: 30px;
  font-size: 0.8rem;
  padding: 0; /* Remova o preenchimento para reduzir o espaço em branco dentro dos botões */
}

@-webkit-keyframes pagination-move-prev {
  from, 0% {
    transform: translateX(25px);
  }
  50% {
    transform: translateX(-5px);
  }
  to, 100% {
    transform: translateX(0px);
  }
}

@keyframes pagination-move-prev {
  from, 0% {
    transform: translateX(25px);
  }
  50% {
    transform: translateX(-5px);
  }
  to, 100% {
    transform: translateX(0px);
  }
}
@-webkit-keyframes pagination-move-next {
  from, 0% {
    transform: translateX(-25px);
  }
  50% {
    transform: translateX(5px);
  }
  to, 100% {
    transform: translateX(0px);
  }
}
@keyframes pagination-move-next {
  from, 0% {
    transform: translateX(-25px);
  }
  50% {
    transform: translateX(5px);
  }
  to, 100% {
    transform: translateX(0px);
  }
}
@-webkit-keyframes pagination-move-top {
  from, 0% {
    transform: translateY(-25px);
  }
  50% {
    transform: translateY(10px);
  }
  to, 100% {
    transform: translateY(0px);
  }
}
@keyframes pagination-move-top {
  from, 0% {
    transform: translateY(-25px);
  }
  50% {
    transform: translateY(10px);
  }
  to, 100% {
    transform: translateY(0px);
  }
}
.pagination-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start; /* Alinhar à esquerda */
  width: 100%; /* Ajuste a largura conforme necessário */
}
