//.custom-modal .modal-content {
//  width: 1100px;
//  height: 600px;
//}

.custom-modal .modal-dialog {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-modal .modal-backdrop {
  display: none; /* Esconde o backdrop escuro */
  max-width: 1200px; /* Ajuste o valor para o tamanho desejado */
  width: 150%;
}

/* styles.css (ou no arquivo do componente) */
.custom-modal-dialog {
  max-width: 1200px; /* Ajuste o valor para o tamanho desejado */
  width: 150%;
}

.modal-content {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.spacer {
  width: 10px;
  background-color: white;
}

/* Adicionar listras horizontais na tabela */
.table-bordered tr {
  border-bottom: 1px solid rgba(250, 112, 22, 0.64);
}

/* Adicionar cor de fundo cinza ao passar o mouse sobre a tabela */
.table-bordered tr:hover {
  background-color: #f1f1f1;
}

/* Ocultar bordas verticais da tabela */
.table-bordered {
  border-collapse: collapse;
}

/* Adicionar borda externa à tabela */
.table-bordered th,
.table-bordered td {
  border: 1px solid #000000;
}

/* Adicione esta classe CSS para estilizar as linhas de carregamento */
.loading tr::before {
  content: "";
  display: block;
  background-color: #f0f0f0; /* Cor de fundo das linhas de carregamento */
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
  z-index: -1;
}

.loading td,
.loading th {
  position: relative;
  z-index: 1;
}

.input-group.mb-3 {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #fff; /* Define a cor de fundo desejada para a searchbar */
  padding: 10px; /* Ajusta o espaçamento conforme necessário */
}


.modal-body {
  max-height: 400px; /* Define a altura máxima desejada para a modal */
  overflow-y: auto; /* Adiciona uma barra de rolagem vertical quando necessário */
}


.modal-dialog {
  max-width: 800px; /* Define a largura máxima desejada para a modal */
}








