/* Estilo para o botão de alternância */
.btn-toggle {
  background-color: #ccc;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.btn-toggle:focus {
  outline: none;
}

/* CSS */
.btn-on {
  background-color: green;
  color: white;
}

.btn-off {
  background-color: red;
  color: white;
}

/* SCSS */
.btn-on {
  background-color: green;
  color: white;
}

.btn-off {
  background-color: red;
  color: white;
}
