#layoutAuthentication {
  width: 100%;
  height: 100%;
}

main {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-login {
  margin: auto;
}

.card-login-content {
  width: 60%;
  border: solid 1px gray;
  border-radius: 8px;
}
