<div id="layoutAuthentication">
  <div id="layoutAuthentication_content">
    <main>
      <div *ngIf="isDbConnectionSuccess" class="alert alert-success mt-3 mb-0">
        Conexão com o banco de dados OK
      </div>
      <div *ngIf="!isDbConnectionSuccess" class="alert alert-danger mt-3 mb-0">
        {{ error }}
      </div>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-5">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
              <div class="card-header">
                <h3 class="text-center font-weight-light my-4">
                  <img alt="OnDash" ngSrc="../../assets/on_logo.png" width="200" height="245">
                </h3>
              </div>
              <div class="card-body">
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                  <div class="mb-3">
                    <label class="form-label">Username</label>
                    <input type="text" formControlName="username" class="form-control"
                           [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                      <div *ngIf="f.username.errors.required">Username is required</div>
                    </div>
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Password</label>
                    <div class="input-group">
                      <input type="{{ showPassword ? 'text' : 'password' }}" formControlName="password" class="form-control"
                             [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                      <button class="btn btn-outline-secondary" type="button" (click)="togglePasswordVisibility()">
                        <i class="{{ showPassword ? 'fa fa-eye-slash' : 'fa fa-eye' }}"></i>
                      </button>
                    </div>
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                      <div *ngIf="f.password.errors.required">Password is required</div>
                    </div>
                  </div>
                  <button [disabled]="loading" class="btn btn-primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Login
                  </button>
                  <div *ngIf="error" class="alert alert-danger mt-3 mb-0">
                    Login e/ou senha incorreto(a).
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
